In [21]:
import pandas as pd
import numpy as np 
from pandas_datareader import data
from func_pyeconomics import graf_plotly

In [22]:
ativos = ['CMIG4.SA','ELET3.SA','EGIE3.SA','EQTL3.SA','TAEE3.SA','TRPL4.SA']

dataframe = pd.DataFrame()
for i in ativos:
    frame = data.DataReader(i, data_source='yahoo', start='2015-01-01', end='2022-01-01')
    frame = frame['Adj Close']
    frame = pd.DataFrame(frame)
    frame = frame.rename(columns={'Adj Close':f'{i}'})
    dataframe = pd.concat([frame, dataframe], axis = 1)

### Normalização da carteira

df_normalizado = pd.DataFrame()
for i in dataframe.columns[0:]:
    df_normalizado[i] = dataframe[i] / dataframe[i][0]
df_carteira = df_normalizado.drop(columns='BOVA11.SA')
benchmark = pd.DataFrame(df_normalizado['BOVA11.SA'])
benchmark

df_carteira['CARTEIRA'] = df_carteira.sum(axis=1) / len(df_carteira.columns)
carteira = pd.DataFrame(df_carteira['CARTEIRA'])

cart_bench = pd.concat([carteira, benchmark], axis = 1)

graf_plotly(cart_bench)

In [23]:
def gera_carteira(ativos,ano_inicio, ano_final):
    lista_ativos = ativos + ['BOVA11.SA']
    dataframe = pd.DataFrame()
 
    for i in lista_ativos:
        frame = data.DataReader(i, data_source='yahoo', start=f'{ano_inicio}-01-01')
        frame = frame['Adj Close']
        frame = pd.DataFrame(frame)
        frame = frame.rename(columns={'Adj Close':f'{i}'})
        dataframe = pd.concat([frame, dataframe], axis = 1)
    return dataframe

In [24]:
teste = gera_carteira(ativos,2020,2021)
teste

,BOVA11.SA,TRPL4.SA,TAEE3.SA,EQTL3.SA,EGIE3.SA,ELET3.SA,CMIG4.SA
Date,,,,,,,
2020-01-02,114.239998,19.821434,9.100993,22.943060,48.839165,32.668461,12.691110
2020-01-03,113.800003,19.325247,9.263030,22.670277,49.120930,32.172184,12.553957
2020-01-06,112.589996,19.438412,9.308040,22.699501,48.707680,32.326202,12.727682
2020-01-07,112.239998,19.299131,9.218019,22.582596,48.810989,33.156174,13.193999
2020-01-08,111.949997,19.151144,9.218019,22.738472,48.322601,33.635338,13.559736
...,...,...,...,...,...,...,...
2021-04-20,115.480003,26.000000,13.620000,24.900000,41.799999,35.240002,13.500000
2021-04-22,114.949997,25.920000,13.800000,25.040001,41.669998,35.720001,13.450000
2021-04-23,115.970001,26.000000,13.570000,25.280001,42.209999,36.720001,13.500000
2021-04-26,115.860001,25.830000,13.580000,24.900000,41.900002,37.230000,13.450000
2021-04-27,114.779999,25.820000,13.620000,24.900000,41.240002,36.169998,13.330000

In [25]:
def normaliza_carteira(dataframe):
    df_normalizado = pd.DataFrame()
    for i in dataframe.columns:
        df_normalizado[i] = dataframe[i] / dataframe[i][0]
    return df_normalizado

In [26]:
df_norm = normaliza_carteira(teste)
df_norm

,BOVA11.SA,TRPL4.SA,TAEE3.SA,EQTL3.SA,EGIE3.SA,ELET3.SA,CMIG4.SA
Date,,,,,,,
2020-01-02,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2020-01-03,0.996149,0.974967,1.017804,0.988110,1.005769,0.984809,0.989193
2020-01-06,0.985557,0.980676,1.022750,0.989384,0.997308,0.989523,1.002882
2020-01-07,0.982493,0.973650,1.012859,0.984289,0.999423,1.014929,1.039625
2020-01-08,0.979954,0.966184,1.012859,0.991083,0.989423,1.029597,1.068444
...,...,...,...,...,...,...,...
2021-04-20,1.010854,1.311711,1.496540,1.085295,0.855870,1.078716,1.063737
2021-04-22,1.006215,1.307675,1.516318,1.091398,0.853209,1.093409,1.059797
2021-04-23,1.015144,1.311711,1.491046,1.101858,0.864265,1.124020,1.063737
2021-04-26,1.014181,1.303135,1.492145,1.085295,0.857918,1.139631,1.059797
2021-04-27,1.004727,1.302630,1.496540,1.085295,0.844404,1.107184,1.050342