In [28]:
import numpy as np 
import pandas as pd 
import scipy 
import statsmodels.api as sm 
import matplotlib.pyplot as plt 
import seaborn as sns 
import sklearn

In [22]:
data = pd.read_csv('curso_machine_learning/1.01. Simple linear regression.csv', sep=',')

In [24]:
data.describe()

               SAT        GPA
count    84.000000  84.000000
mean   1845.273810   3.330238
std     104.530661   0.271617
min    1634.000000   2.400000
25%    1772.000000   3.190000
50%    1846.000000   3.380000
75%    1934.000000   3.502500
max    2050.000000   3.810000

In [25]:
y = data['GPA']
x1 = data['SAT']

In [30]:
plt.scatter(x1,y)
plt.xlabel('SAT', fontsize=20)
plt.ylabel('GPA', fontsize=20)
plt.show()