In [13]:
import pandas as pd 
import sgs
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['figure.figsize'] = (21,8)

import plotly.graph_objects as go

In [20]:
def df_sgs_multi(lista_sgs,ano_inicio, ano_fim):
    df = pd.DataFrame()
    for i in lista_sgs:
        data_inicio = ano_inicio
        data_fim = ano_fim
        df1 = sgs.time_serie(i[:4], data_inicio, data_fim,True)
        df1 = pd.DataFrame(df1)
        df = pd.concat([df,df1], axis=1)
    return df

In [21]:
lista = pd.read_csv('cod_ipca.csv', encoding='UTF-8', sep=";")
lista

   codigo                             cod                      serie
0    1635        1635-Alimentos e bebidas        Alimentos e bebidas
1    1636                  1636-Habitação                  Habitação
2    1637            1637-Bens domésticos            Bens domésticos
3    1638                  1638-Vestuário                  Vestuário
4    1639                1639-Transportes                Transportes
5    1640                1640-Comunicação                Comunicação
6    1641  1641-Saúde e cuidados pessoais  Saúde e cuidados pessoais
7    1642          1642-Despesas pessoais          Despesas pessoais
8    1643                   1643-Educação                   Educação

In [73]:
def graf_plotly(lista_sgs,ano_inicio, ano_fim, titulo):
    fig = go.Figure()
    fig.update_layout(
    title= f'{titulo}',
    yaxis_title= '% de Variação Mensal',
    )
    df = pd.DataFrame()
    for i in lista_sgs:
        data_inicio = ano_inicio
        data_fim = ano_fim
        split = i.split(sep='-')
        df1 = sgs.time_serie(split[0], data_inicio, data_fim,True)
        df1 = pd.DataFrame(df1)
        df = pd.concat([df,df1], axis=1)
        lines = fig.add_trace(go.Scatter(x=df.index, y=df[(f'{split[0]}')], name= f"{split[1]}"  ))
    return lines

In [74]:
graf_plotly(df['11-selic'],'01/01/1980', '01/01/2021', 'selic')

AttributeError: 'float' object has no attribute 'split'

In [61]:
string = '1234-teste'
num = string.split(sep='-')
num[1]

'teste'